<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you for subscribing to SoCal VR</h3>
    <p>This is an action mailer test!</p>
  </body>
</html>