/* line 5, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/exhibitors.scss */
.main.exhibitor {
  margin-top: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 10, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/exhibitors.scss */
.main.sponsor {
  margin-top: 80px;
  padding-bottom: 100px;
}

/* line 14, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/exhibitors.scss */
#exhibitor-signup {
  margin-top: 0;
  padding-top: 0;
}

@media (min-width: 740px) {
  /* line 20, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/exhibitors.scss */
  .main.exhibitor {
    margin-top: 140px;
  }

  /* line 21, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/exhibitors.scss */
  .main.sponsor {
    margin-top: 140px;
  }

  /* line 22, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/exhibitors.scss */
  #exhibitor-signup {
    margin-top: -50px;
    padding-top: 0;
  }
}
@media (min-width: 1025px) {
  /* line 29, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/exhibitors.scss */
  .main.exhibitor {
    margin-top: 160px;
  }

  /* line 30, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/exhibitors.scss */
  .main.sponsor {
    margin-top: 160px;
  }
}
/* ==~~~== Header ==~~~== */
/* line 7, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
header {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 80px;
  overflow: hidden;
  z-index: 1;
}

/* line 15, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.carousel_cont {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

/* line 23, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.carousel_slide {
  cursor: move;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

@media (min-width: 740px) {
  /* line 35, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  header {
    margin-top: 140px;
  }
}
@media (min-width: 1025px) {
  /* line 38, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  header {
    margin-top: 160px;
  }
}
/* ==~~~== Main Body ==~~~== */
/* line 43, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.main {
  position: relative;
  display: block;
  width: 100%;
  background-color: #FFF;
  text-align: center;
  z-index: 1;
}

/* line 51, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.main > .container {
  padding-top: 100px;
}

/* line 52, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.main.attend {
  margin-top: 80px;
}

/* line 53, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-title {
  padding-bottom: 20px;
  font-weight: 900;
  font-family: 'Montserrat', arial, sans-serif;
}

/* line 58, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.expo-location {
  width: 100%;
  padding-bottom: 20px;
}

/* line 62, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-subtitle {
  padding-bottom: 10px;
  font-weight: 100;
  font-family: 'Istok Web', arial, sans-serif;
  clear: both;
}

/* line 68, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-subtitle.sponsor {
  font-size: 1em;
  font-weight: 900;
  color: #333;
}

/* line 73, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-text {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: justify;
  font-size: 17px;
  color: #444;
}

/* line 83, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-text > span {
  color: #FF6927;
  font-weight: 900;
}

@media (min-width: 740px) {
  /* line 89, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .main.attend {
    margin-top: 140px;
  }
}
@media (min-width: 1025px) {
  /* line 92, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .main.attend {
    margin-top: 160px;
  }
}
/* ==~~~== Home Page Main Body ==~~~== */
/* line 97, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.button {
  position: relative;
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 20px 25px;
  border: 1px solid #FF6927;
  border-radius: 5px;
  text-align: center;
  color: #FFF;
  background: #FF6927;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

/* line 114, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#attendee_button {
  display: block;
  padding-bottom: 100px;
}

/* line 118, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#ticket-iframe {
  display: none;
}

/* line 119, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.ticket-iframe {
  height: 500px;
  width: 100%;
  border: none;
  overflow: auto;
}

@media (min-width: 740px) {
  /* line 128, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .button:hover {
    background: #FD8F3E;
    border: 1px solid #FD8F3E;
  }

  /* line 132, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #attendee_button {
    display: none;
  }

  /* line 133, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #ticket-iframe {
    display: block;
  }
}
@media (min-width: 1025px) {
  /* line 136, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .button {
    width: 270px;
  }
}
/* ==~~~== Google Map ==~~~== */
/* line 141, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.directions-input {
  position: absolute;
  display: block;
  width: 300px;
  max-width: 85%;
  top: 125px;
  left: 40px;
  z-index: 3;
}

/* line 149, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#directions-start {
  position: relative;
  width: 100%;
  padding: 5px;
}

/* line 154, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#map-canvas {
  position: relative;
  height: 300px;
  width: 100%;
  z-index: 1;
}

/* line 160, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#directions-panel {
  position: relative;
  display: block;
  height: 300px;
  max-width: 390px;
  margin: -300px 0 0 auto;
  background: #FFF;
  overflow: auto;
  -webkit-transition: 250ms ease-in;
  -moz-transition: 250ms ease-in;
  -o-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

/* line 173, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#directions-panel.active {
  margin-top: 0;
}

@media (min-width: 740px) {
  /* line 177, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #directions-panel {
    height: 300px;
    width: 0px;
    margin: -300px 0 0 0;
    float: right;
    z-index: 3;
  }

  /* line 184, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #directions-panel.active {
    width: 390px;
    margin-top: -300px;
  }
}
/* line 190, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-cont, .exhibitor-cont {
  margin-bottom: 25px;
}

/* line 191, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-cont {
  margin-top: 5%;
}

/* line 193, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img-cont, .exhibitor-img-cont {
  position: relative;
  display: block;
  height: 100px;
  width: 360px;
  max-width: 100%;
  margin: 10px auto;
}

/* line 201, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.exhibitor-img-cont.half {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0;
}

/* line 207, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img-cont.duncan {
  height: auto;
  border: none;
  padding: 0 4%;
}

/* line 212, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img-cont.quarter {
  width: 50%;
  margin: 10px 0;
  float: left;
}

/* line 217, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.half > .sponsor-img-cont.third {
  width: 33.3%;
  margin: 10px 0;
  float: left;
}

/* line 222, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img, .exhibitor-img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding: 0 0.25em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 233, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img.duncan {
  top: 0%;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 240, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#exhibitor-cont {
  padding: 0 0 100px 0;
}

/* line 241, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-cont {
  width: 100%;
  margin: 0 auto;
}

/* line 245, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#speakers-cont-home {
  width: 100%;
  padding: 100px 0;
  background: #222;
  color: #DDD;
}

/* line 251, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-img-cont {
  position: relative;
  display: block;
  float: left;
  height: 300px;
  width: 50%;
}

/* line 258, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-img-cont.two-thirds {
  width: 100%;
}

/* line 259, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-img {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

/* line 265, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-info {
  font-size: 16px;
  max-width: 80%;
  margin: 5px auto;
}

/* line 270, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-info.name {
  font-weight: 900;
  font-size: 18px;
}

@media (min-width: 740px) {
  /* line 277, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont {
    width: 44% !important;
    margin: 1% 3%;
    float: left;
  }

  /* line 282, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.quarter {
    width: 21% !important;
    margin: 1% 2%;
  }

  /* line 286, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.third {
    width: 29.3% !important;
    margin: 1% 2% !important;
  }

  /* line 290, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .two-thirds {
    width: 66.7%;
    margin: 1% auto;
  }

  /* line 294, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .half {
    width: 50%;
    margin: 1% auto;
  }

  /* line 298, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.diamond {
    width: 55% !important;
    margin: 4px auto;
    float: none;
  }

  /* line 303, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.duncan {
    margin: 4px auto;
    float: none;
  }

  /* line 307, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .exhibitor-img-cont {
    width: 31.3% !important;
    margin: 1%;
    float: left;
  }

  /* line 312, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .exhibitor-img-cont.center {
    margin: 1% 0 1% 33.3%;
  }

  /* line 313, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .exhibitor-img-cont.half {
    width: 50% !important;
  }

  /* line 314, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .speaker-img-cont {
    height: 250px;
    width: 33.3%;
  }

  /* line 318, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .speaker-img-cont.two-thirds {
    width: 66.6%;
    margin-left: 16.7%;
  }

  /* line 322, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .speaker-img-cont.half {
    width: 50%;
  }
}
/* line 325, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#expo-info-home {
  width: 100%;
  /*margin-top: 100px;*/
  padding: 100px 0;
  background: #222;
  color: #DDD;
}

/* line 332, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#expo-info-home > .column > .section-text {
  color: #BBB !important;
}
/* jQuery Countdown styles 2.0.0. */

.is-countdown {
	position: relative;
	height: 580px;
	width: 90%;
	margin: 100px auto 0 auto;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	position: relative;
	width: 100%;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 220px;
	margin: 10px auto;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	position: relative;
	display: block;
	border: 3px solid #222;
	border-radius: 10px;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}
.countdown-amount {
  font-size: 200%;
}
.countdown-period {
	display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

@media (min-width: 740px) {
	.is-countdown {
		height: 140px;
	}
	.countdown-show4 .countdown-section {
		width: 24%;
		margin: 0.5%;
	}
	.countdown-section {
		position: relative;
		float: left;
	}
}

@media (min-width: 1025px) {
	.is-countdown {
		height: 190px;
	}
	.countdown-section {
		font-size: 40px;
	}
}
/* line 5, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/sponsors.scss */
.sponsor-buy {
  position: relative;
  display: block;
  margin-top: 80px;
  padding: 100px 0;
  width: 100%;
  text-align: center;
}

/* line 13, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/sponsors.scss */
.center {
  display: block;
  margin: 0 auto;
}

@media (min-width: 740px) {
  /* line 19, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/sponsors.scss */
  .sponsor-buy {
    margin-top: 140px;
  }
}
@media (min-width: 1025px) {
  /* line 25, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/sponsors.scss */
  .sponsor-buy {
    margin-top: 160px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

 /* ==~~~== Colors ==~~~==
 Light Orange: #FD8F3E
 Dark Orange: #FF6927
 */

 /*
  Phone = 0px - 736px
  Tablet = 768px - 1600px
  Computers = 1200px - 1600px
  Large Computers = 1600px - 1920px
*/


/* ==~~~== Responsive Design Setup ==~~~== */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', arial, sans-serif;
  font-size: 18px;
}
@media (min-width: 740px) { 
  html, body { font-size: 19px; }
}
@media (min-width: 1025px) { 
  html, body { font-size: 20px; }
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  		-o-box-sizing: border-box;
  			box-sizing: border-box;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.container.full { width: 100%; }
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }


@media (min-width: 740px) {
  .column {
    float: left;
    padding: 0 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.fifth { width: 20%; }
  .column.flow-opposite { float: right; }
}


/* ==~~~== Modified Elements ==~~~== */
input[type=email], input[type=text] {
  width: 50%;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  font-size: 16px;
  color: #222;
}
input[type=email]:focus, input[type=text]:focus {
  outline: none;
  background: #FFF;
}
input[type=email]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder { color: #888; }
input[type=email].valid { border: 1px solid green; }
input[type=email].error { border: 1px solid red; }
input[type=submit] {
  border: 1px solid #FF6927;
  border-radius: 5px;
  padding: 0.75em 1.5em;
  margin: 0 auto;
  font-size: 1em;
  color: #FFF;
  background: #FF6927;
  outline: none;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
select {
  background: #FFF;
  height: 30px;
  width: 300px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #AAA;
}
select:focus { outline: none; }
table { margin: 20px auto; }
h1 { font-size: 2.5em; }
h2 { font-size: 2.25em; }
h3 { font-size: 2em; }
h4 { font-size: 1.75em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.25em; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
a {
  text-decoration: none;
  color: #000;
}
ul { list-style-type: none; }
ol { list-style-type: decimal; }
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

@media (min-width: 740px) {
  input[type=email], input[type=text] {
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 0.75em 1em;
    font-size: 1em;
    color: #222;
  }
  input[type=submit]:hover {
    background: #FD8F3E;
    border: 1px solid #FD8F3E;
  }
}


/* ==~~~== Multi-Use Display Classes ==~~~== */
.hidden { display: none; }
.invisible { visibility: hidden; }


/*  ==~~~== Navbars ==~~~== */
.navbar {
	position: fixed;
  display: block;
	height: 80px;
	width: 100%;
	top: 0; left: 0;
  background-color: #FFF;
  z-index: 8;
}
.nav-logo-cont {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FFF;
}
.nav-logo-img {
  position: relative;
  display: block;
  height: auto;
  width: 80%;
  max-width: 1200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
        transform: translateY(-50%);
  margin-left: 5%;
  font-family: 'Montserrat', arial, sans-serif;
}
.nav-list-web {
  position: relative;
  display: none;
  height: 40px;
  width: 90%;
  max-width: 1200px;
  bottom: 0;
	margin: 0 auto;
	padding: 0;
}
.inline-btn { display: inline-block; }
.nav-btn-web {
  position: relative;
  height: 40px;
  width: 120px;
  top: 9px;
	margin: 0;
  padding: 6px 6px;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat', arial, sans-serif;
	cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.nav-btn-web:hover {
  font-size: 17px;
  border-top: 3px solid #FF6927;
}
#subscribe-btn {
  position: absolute;
  height: 35px;
  width: auto;
  top: 0; right: 0;
  border: 2px solid #FF6927;
  border-radius: 5px;
  background: #FF6927;
  color: #FFF;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
#subscribe-btn:hover {
  font-size: 15px;
  background: #FD8F3E;
  border: 2px solid #FD8F3E;
}

#nav-list-mobile {
	position: fixed;
  height: 0vh;
	width: 100%;
	top: -300px;
  margin: 0;
	background-color: #222;
  z-index: 7;
}
#nav-list-mobile.active {
  top: 80px;
  height: 100vh;
}
.mobile-btn {
  position: relative;
  display: inline-block;
  width: 100%;
  float: left;
  padding: 10px;
  color: #DDD;
}
.mobile-btn.small {
  width: 33.3%;
  margin-bottom: 20px;
}
.nav-btn-mobile {
  position: relative;
  width: 100%;
	padding: 5px;
	cursor: pointer;
  text-align: center;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 16px;
  color: #FFF;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.nav-btn-mobile:hover {
  border-left: 3px solid #FF6927;
  font-size: 18px;
}
.mobile-btn.active > .nav-btn-mobile:hover { font-size: 16px; }
.nav-reveal {
  position: fixed;
  width: 40px;
  height: 20px;
  top: 55px; right: 0;
  cursor: pointer;
  z-index: 10;
}
#nav-reveal {
  display: block;
  cursor: pointer;
  z-index: 10;
}
.nav-reveal span, .nav-reveal span:before, .nav-reveal span:after {
  position: absolute;
  display: block;
  height: 5px;
  width: 30px;
  top: 0px;
  border-radius: 1px;
  background: #FF6927;
  content: '';
}
.nav-reveal span:before { top: 8px; }
.nav-reveal span:after { top: 16px; }
.nav-reveal, .nav-reveal span, .nav-reveal span:before, .nav-reveal span:after {
  -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
      -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;
}
#nav-list-mobile {
  -webkit-transition: 1000ms ease-in-out;
    -moz-transition: 1000ms ease-in-out;
      -o-transition: 1000ms ease-in-out;
        transition: 1000ms ease-in-out;
}
.nav-reveal.active, .nav-reveal.active span { background-color: transparent; }
.nav-reveal.active span:before, .nav-reveal.active span:after { top: 5px; }
.nav-reveal.active span:before {
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
        transform: rotate(45deg);
}
.nav-reveal.active span:after {
  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
.mobile-subscription {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 100%;
}
#mobile-subscription-form-submit {
  font-size: 16px;
  padding: 0.5em;
}

@media (min-width: 740px) {
  .navbar {
    height: 140px;
    z-index: 5;
  }
  .nav-logo-cont { height: 100px; }
  .nav-logo-img {
    width: 90%;
    margin: 0 auto;
  }
  .nav-list-web { display: block; }
  .nav-list-mobile { display: none; }
  #nav-reveal { display: none; }
}
@media (min-width: 1025px) {
  .navbar { height: 160px; }
  .nav-logo-cont { height: 120px; }
}


/* ==~~~== Modal ==~~~== */
.modal {
  position: absolute;
  display: none;
  height: 400px;
  width: 500px;
  top: 0;
  padding: 25px;
  text-align: center;
  z-index: 0;
}
.modal-exit {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0; right: 0;
  text-align: center;
  background: #FFF;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.modal-exit > i {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px; right: 10px;
  font-size: 20px;
}
.modal-exit:hover { color: #FF6927; }
.modal-title {
  position: relative;
  top: 0;
  padding-bottom: 25px;
  font-family: 'Montserrat', arial, sans-serif;
}
.subscription-form-cont {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.subscription-form-cont > .section-text {
  margin: 0 auto;
}
.subscription-form {
  height: 40px;
}
.subscription-form-input {
  margin-right: 5px;
  width: 275px;
}

@media (min-width:740px) {
  .modal {
    display: block;
    top: -400px; left: 0; right: 0;
    margin: 0 auto;
    background: #FFF;
    z-index: 7;
    -webkit-transition: 1000ms ease-in-out;
      -moz-transition: 1000ms ease-in-out;
        -o-transition: 1000ms ease-in-out;
          transition: 1000ms ease-in-out;
  }
  .subscription-form { padding-top: 25px; }
}
@media (min-width:1025px) {
  .modal { width: 550px; }
}


/* ==~~~== Footer ==~~~== */
footer {
  position: relative;
  display: block;
  height: 125px;
	width: 100%;
	background-color: #222;
	z-index: 1;
}
.social-media-nav {
  position: relative;
  display: block;
  height: 80px;
	width: 66px;
	margin: 0 auto;
  padding: 20px 0 30px 0;
}
.social-media-img {
  position: absolute;
  height: 30px;
  width: 30px;
  -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
        filter: grayscale(1);
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.social-media-img:hover {
  -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
        filter: grayscale(0);
}
#twitter {
  top: 20px; left: 0;
  background: url('/assets/social-medias-1beb51825b1776594b8957e7cb38bb7ec6099f6c8759d75b9a96f5819ecb4386.png') 0 0;
  background-size: 60px 30px;
}
#facebook {
  top: 20px; right: 0;
  background: url('/assets/social-medias-1beb51825b1776594b8957e7cb38bb7ec6099f6c8759d75b9a96f5819ecb4386.png') 30px 0;
  background-size: 60px 30px;
}
.contact-info-cont {
  width: 82px;
  margin: 0 auto;
}
.contact-info {
	color: #888;
	font-size: 16px;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.contact-info:hover { color: #FFF; }
