/* ==~~~== Colors ==~~~==
 Light Orange: #FD8F3E
 Dark Orange: #FF6927
 */
 /*
  Phone = 0px - 736px
  Tablet = 768px - 1600px
  Computers = 1200px - 1600px
  Large Computers = 1600px - 1920px
*/
/* ==~~~== Mixins ==~~~== */
/* ==~~~== Responsive Design Setup ==~~~== */
/* line 50, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', arial, sans-serif;
  font-size: 18px;
}

/* line 57, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 59, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.clearfix {
  zoom: 1;
}
/* line 62, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 67, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.clearfix:after {
  clear: both;
}

/* line 70, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
/* line 76, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.container.full {
  width: 100%;
}
/* line 78, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.container.map {
  width: 100%;
  padding: 0;
}

@media (min-width: 740px) {
  /* line 86, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  html, body {
    font-size: 19px;
  }

  /* line 88, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .column {
    width: 100%;
    padding: 0 1rem;
  }
}
@media (min-width: 1025px) {
  /* line 96, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  html, body {
    font-size: 20px;
  }

  /* line 98, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .container {
    padding: 100px 0;
  }
}
/* ==~~~== Modified Elements ==~~~== */
/* line 104, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 105, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
h1 {
  font-size: 2.5em;
}

/* line 106, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
h2 {
  font-size: 2.25em;
}

/* line 107, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
h3 {
  font-size: 2em;
}

/* line 108, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
h4 {
  font-size: 1.75em;
}

/* line 109, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
h5 {
  font-size: 1.5em;
}

/* line 110, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
h6 {
  font-size: 1.25em;
}

/* line 112, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
a {
  text-decoration: none;
  color: #000;
}

/* line 117, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
ul {
  list-style-type: none;
}

/* line 118, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
ol {
  list-style-type: decimal;
}

/* line 120, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
table {
  margin: 20px auto;
}

/* line 122, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/* line 126, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* line 131, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
input[type=text] {
  width: 100%;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  color: #222;
}
/* line 139, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
input[type=text]:focus {
  outline: none;
  background: #FFF;
}
/* line 144, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
input[type=text]:-ms-input-placeholder {
  color: #888;
}

/* ==~~~== Multi-Use Display Classes ==~~~== */
/* line 150, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.hidden {
  display: none;
}

/* line 152, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.max-width-sml {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 157, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.button {
  display: block;
  width: 260px;
  margin: 25px auto 0 auto;
  padding: 20px 25px;
  border: 1px solid #FF6927;
  border-radius: 5px;
  text-align: center;
  color: #FFF;
  background: #FF6927;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

/* line 171, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.mobile-center {
  margin-left: 25% !important;
}

@media (min-width: 740px) {
  /* line 175, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .button:hover {
    border: 1px solid #FD8F3E;
    background: #FD8F3E;
  }

  /* line 180, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .mobile-center {
    margin-left: 1% !important;
  }

  /* line 181, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .margin-sml {
    margin-left: 16.7% !important;
  }
}
@media (min-width: 1025px) {
  /* line 186, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .button {
    width: 270px;
  }
}
/*  ==~~~== Navbars ==~~~== */
/* line 192, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: 8;
}

/* line 200, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-logo-cont {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* line 205, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-logo {
  position: relative;
  display: block;
  width: 80%;
  top: 50%;
  margin-left: 5%;
  font-family: 'Montserrat', arial, sans-serif;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 215, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-list-web {
  position: relative;
  display: none;
  width: 90%;
  bottom: 0;
  margin: 0 auto;
  padding: 0;
}

/* line 224, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.web-btn {
  display: inline-block;
}

/* line 226, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-btn-web {
  position: relative;
  top: 10px;
  padding: 6px;
  font-size: 15px;
  font-family: 'Montserrat', arial, sans-serif;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  	/*&.opposite {
  		color: #FF6927;
  
  		&:hover { border-top: 3px solid #222; }
  	}*/
}
/* line 235, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-btn-web:hover {
  font-size: 17px;
  border-top: 3px solid #FF6927;
}

/* line 247, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#subscribe-btn {
  position: absolute;
  top: 4px;
  right: 0;
  padding: 6px 8px;
  border-radius: 5px;
  color: #FFF;
  background: #FF6927;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
/* line 256, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#subscribe-btn:hover {
  border-top: none;
  font-size: 15px;
  background: #FD8F3E;
}

/* line 263, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-list-mobile {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -100%;
  margin: 0;
  background-color: #222;
  z-index: 8;
  -webkit-transition: 1000ms ease-in-out;
  -moz-transition: 1000ms ease-in-out;
  -o-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}
/* line 272, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-list-mobile.small {
  padding: 0;
}
/* line 274, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-list-mobile.active {
  left: 0;
}

/* line 277, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.mobile-btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  color: #DDD;
}
/* line 283, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.mobile-btn.small {
  width: 33.3%;
  float: left;
  margin: 0 0 20px 0;
}

/* line 290, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-btn-mobile {
  padding: 5px;
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  font-family: 'Montserrat', arial, sans-serif;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
/* line 298, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-btn-mobile:hover {
  border-left: 3px solid #FF6927;
  font-size: 18px;
}
/* line 303, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-btn-mobile.opposite {
  color: #FF6927;
}
/* line 306, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-btn-mobile.opposite:hover {
  border-left: 3px solid #FFF;
}

/* line 310, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal {
  position: fixed;
  width: 40px;
  height: 20px;
  top: 10px;
  right: 0;
  cursor: pointer;
  z-index: 9;
}
/* line 317, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal span, .nav-reveal span:before, .nav-reveal span:after {
  position: absolute;
  display: block;
  height: 5px;
  width: 30px;
  top: 0px;
  border-radius: 1px;
  background: #FF6927;
  content: '';
}
/* line 327, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal span:before {
  top: 8px;
}
/* line 328, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal span:after {
  top: 16px;
}
/* line 329, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal, .nav-reveal span, .nav-reveal span:before, .nav-reveal span:after {
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
/* line 332, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal.active span {
  background: transparent;
}
/* line 334, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal.active span:before, .nav-reveal.active span:after {
  top: 5px;
}
/* line 335, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal.active span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 336, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.nav-reveal.active span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 740px) {
  /* line 342, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .navbar {
    height: 140px;
  }

  /* line 344, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .nav-logo-cont {
    height: 100px;
  }

  /* line 346, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .nav-logo {
    width: 90%;
    margin: 0 auto;
  }

  /* line 351, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .nav-list-web {
    display: block;
  }

  /* line 353, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .nav-list-mobile {
    display: none;
  }

  /* line 355, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .nav-reveal {
    display: none;
  }
}
@media (min-width: 1025px) {
  /* line 360, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .navbar {
    height: 160px;
  }

  /* line 362, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .nav-logo-cont {
    height: 120px;
  }
}
/* ==~~~== Footer ==~~~== */
/* line 368, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
footer {
  height: 125px;
  width: 100%;
  background: #222;
}

/* line 373, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.social-media-nav {
  position: relative;
  height: 80px;
  width: 66px;
  margin: 0 auto;
  padding: 20px 0 30px 0;
}

/* line 380, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.social-media-img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
/* line 387, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.social-media-img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

/* line 390, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#twitter {
  left: 0;
  background: url("/assets/social-medias-1beb51825b1776594b8957e7cb38bb7ec6099f6c8759d75b9a96f5819ecb4386.png") 0 0;
  background-size: 60px 30px;
}

/* line 396, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#facebook {
  right: 0;
  background: url("/assets/social-medias-1beb51825b1776594b8957e7cb38bb7ec6099f6c8759d75b9a96f5819ecb4386.png") 30px 0;
  background-size: 60px 30px;
}

/* line 402, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.contact-info-cont {
  width: 82px;
  margin: 0 auto;
}

/* line 407, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.contact-info {
  color: #888;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
/* line 415, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.contact-info:hover {
  color: #FFF;
}

/* ==~~~== Header ==~~~== */
/* line 421, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
header {
  margin-top: 80px;
}

/* line 423, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 428, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.carousel-cont {
  position: relative;
  margin: 0 auto;
}

/* line 433, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.carousel-slide {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: move;
}

@media (min-width: 740px) {
  /* line 441, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  header {
    margin-top: 140px;
  }
}
@media (min-width: 1025px) {
  /* line 446, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  header {
    margin-top: 160px;
  }
}
/* ==~~~== Main Body ==~~~== */
/* line 452, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.main {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 80px;
  background-color: #FFF;
  text-align: center;
}
/* line 460, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.main.home {
  margin-top: 0;
}

@media (min-width: 740px) {
  /* line 465, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .main {
    margin-top: 140px;
  }
}
@media (min-width: 1025px) {
  /* line 470, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .main {
    margin-top: 160px;
  }
}
/* ==~~~== Expo Info Section ==~~~== */
/* line 476, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-title {
  padding-bottom: 20px;
  font-weight: 900;
  font-family: 'Montserrat', arial, sans-serif;
}

/* line 482, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-subtitle {
  padding-bottom: 10px;
  font-weight: 100;
  font-family: 'Istok Web', arial, sans-serif;
}

/* line 488, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-text {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: justify;
  font-size: 17px;
  color: #444;
}
/* line 497, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section-text span {
  color: #FF6927;
  font-weight: 900;
}

/* line 503, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#expo-info-home {
  padding: 100px 0;
  background: #222;
  color: #DDD;
}
/* line 508, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#expo-info-home .section-text {
  color: #BBB;
}

/* ==~~~== Buy Ticket Section ==~~~== */
/* line 514, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#attendee_button {
  display: block;
}

/* line 516, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#ticket-iframe {
  display: none;
}

/* line 518, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.ticket-iframe {
  height: 500px;
  width: 100%;
  border: none;
  overflow: auto;
}

@media (min-width: 740px) {
  /* line 525, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #attendee_button {
    display: none;
  }

  /* line 527, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #ticket-iframe {
    display: block;
  }
}
/* ==~~~== Exhibitor/Sponsor Section ==~~~== */
/* line 533, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-cont, .exhibitor-cont {
  margin-bottom: 25px;
}

/* line 534, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-cont {
  padding: 5% 0 2.5% 0;
}

/* line 536, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img-cont, .exhibitor-img-cont {
  position: relative;
  display: block;
  height: 100px;
  width: 360px;
  max-width: 100%;
  margin: 10px auto;
  clear: both;
}
/* line 544, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img-cont.half, .sponsor-img-cont.nrml, .sponsor-img-cont.med, .sponsor-img-cont.sml, .sponsor-img-cont.tiny, .exhibitor-img-cont.half, .exhibitor-img-cont.nrml, .exhibitor-img-cont.med, .exhibitor-img-cont.sml, .exhibitor-img-cont.tiny {
  width: 48%;
  float: left;
  margin: 1%;
  clear: none;
}
/* line 551, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img-cont.duncan, .exhibitor-img-cont.duncan {
  display: block;
  height: auto;
  margin: 1% auto;
  float: none;
}

/* line 559, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img, .exhibitor-img {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  padding: 0 0.25em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 566, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img.duncan, .exhibitor-img.duncan {
  top: 0;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 571, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img.height-sml, .exhibitor-img.height-sml {
  height: 75%;
}
/* line 572, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-img.width-full, .exhibitor-img.width-full {
  width: 100%;
}

/* line 575, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#exhibitor-cont {
  padding-bottom: 0;
}

/* line 576, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#exhibitor-signup {
  padding-top: 0;
}

@media (min-width: 740px) {
  /* line 580, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont, .exhibitor-img-cont {
    width: 31.3%;
    float: left;
    margin: 1%;
    clear: none;
  }
  /* line 586, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.half, .exhibitor-img-cont.half {
    width: 14.65%;
  }
  /* line 587, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.center, .exhibitor-img-cont.center {
    margin: 1% 0 1% 33.3%;
  }
  /* line 589, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.lrg, .exhibitor-img-cont.lrg {
    width: 48%;
  }
  /* line 590, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.nrml, .exhibitor-img-cont.nrml {
    width: 31.3%;
  }
  /* line 591, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.med, .exhibitor-img-cont.med {
    width: 23%;
  }
  /* line 592, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.sml, .exhibitor-img-cont.sml {
    width: 20.2%;
  }
  /* line 593, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-img-cont.tiny, .exhibitor-img-cont.tiny {
    width: 18%;
  }
}
/* ==~~~== Speaker Section ==~~~== */
/* line 600, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-img-cont, .team-img-cont {
  height: 350px;
  width: 50%;
  float: left;
}

/* line 605, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-img, .team-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

/* line 610, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-info, .team-info {
  max-width: 80%;
  margin: 5px auto;
  font-size: 16px;
}
/* line 615, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.speaker-info.name, .team-info.name {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}

/* line 622, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#speakers-cont-home {
  padding: 100px 0;
  color: #DDD;
  background: #222;
}

@media (min-width: 740px) {
  /* line 630, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .speaker-img-cont, .team-img-cont {
    height: 250px;
    width: 33.3%;
  }
}
/* ==~~~== UCI Maps ==~~~== */
/* line 636, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.maps-cont {
  padding-top: 50px;
}

/* line 637, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.exhibitor-maps {
  padding-bottom: 25px;
}

/* line 638, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.location-map {
  padding-bottom: 50px;
}

@media (min-width: 740px) {
  /* line 641, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .maps-cont {
    width: 90%;
    padding-top: 100px;
    margin: 0 auto;
  }

  /* line 646, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .exhibitor-maps {
    width: 48%;
    margin: 0 1%;
    padding-bottom: 0;
    float: left;
  }

  /* line 652, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .location-map {
    width: 48%;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}
/* ==~~~== Google Map ==~~~== */
/* line 662, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.directions-input {
  position: absolute;
  width: 300px;
  max-width: 85%;
  top: 25px;
  left: 40px;
  z-index: 3;
}

/* line 670, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#map-canvas {
  height: 300px;
  width: 100%;
}

/* line 672, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#directions-panel {
  height: 300px;
  max-width: 390px;
  margin: -300px 0 0 auto;
  background: #FFF;
  overflow: auto;
  -webkit-transition: 250ms ease-in;
  -moz-transition: 250ms ease-in;
  -o-transition: 250ms ease-in;
  transition: 250ms ease-in;
}
/* line 680, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#directions-panel.active {
  margin-top: 0;
}

@media (min-width: 740px) {
  /* line 685, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #directions-panel {
    height: 300px;
    width: 0px;
    margin: -300px 0 0 0;
    float: right;
    z-index: 3;
  }
  /* line 691, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #directions-panel.active {
    width: 390px;
    margin-top: -300px;
  }
}
/* ==~~~== Sponsors Buy Page ==~~~== */
/* line 701, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.sponsor-buy {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 80px;
  padding: 100px 0;
  text-align: center;
}

/* line 709, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.center {
  display: block;
  margin: 0 auto;
}

@media (min-width: 740px) {
  /* line 716, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-buy {
    margin-top: 100px;
  }
}
@media (min-width: 1025px) {
  /* line 721, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .sponsor-buy {
    margin-top: 160px;
  }
}
/* jQuery Countdown styles 2.0.0. */

.is-countdown {
	position: relative;
	height: 450px;
	width: 90%;
	margin: 100px auto 0 auto;
}
.countdown-rtl { direction: rtl; }
.countdown-holding span { color: #888; }
.countdown-row {
	position: relative;
	width: 100%;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
	margin: 10px auto;
}
.countdown-show2 .countdown-section {
	width: 48%;
	margin: 10px auto;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
	margin: 10px auto;
}
.countdown-show4 .countdown-section {
	width: 220px;
	margin: 10px auto;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
	margin: 10px auto;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
	margin: 10px auto;
}
.countdown-show7 .countdown-section {
	width: 14%;
	margin: 10px auto;
}
.countdown-section {
	position: relative;
	display: block;
	border: 3px solid #222;
	border-radius: 10px;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}
.countdown-amount {
  font-size: 200%;
}
.countdown-period {
	display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

@media (min-width: 740px) {
	.is-countdown {
		height: 140px;
	}
	.countdown-show4 .countdown-section {
		width: 24%;
		margin: 0.5%;
	}
	.countdown-section {
		position: relative;
		float: left;
	}
}

@media (min-width: 1025px) {
	.is-countdown {
		height: 190px;
	}
	.countdown-section {
		font-size: 40px;
	}
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */
