/* ==~~~== Header ==~~~== */
/* line 7, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
header {
  position: fixed;
  width: 100%;
  height: 400px;
  top: -50px;
  overflow: hidden;
  z-index: -1;
}

/* line 16, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
.title {
  position: relative;
  margin-top: 225px;
  font-weight: 900;
  font-size: 225%;
  color: #FFF;
  text-align: center;
  opacity: 0.9;
  z-index: 0;
}

/* line 27, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
.title_oc {
  color: #F1703D;
  font-weight: 100;
}

/* line 32, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
.header_img {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  -webkit-filter: blur(2px) brightness(0.9) sepia(0.2);
  -moz-filter: blur(2px) brightness(0.9) sepia(0.2);
  -o-filter: blur(2px) brightness(0.9) sepia(0.2);
  filter: blur(2px) brightness(0.9) sepia(0.2);
}

@media (min-width: 40rem) {
  /* line 45, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  header {
    height: 450px;
    top: -25px;
  }

  /* line 50, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  .title {
    font-size: 350%;
    margin-top: 215px;
  }
}
@media (min-width: 64rem) {
  /* line 57, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  header {
    height: 500px;
    top: 0px;
  }

  /* line 62, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  .title {
    font-size: 500%;
    margin-top: 190px;
  }
}
/* ==~~~== Main Body ==~~~== */
/* line 70, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#home_main {
  margin-top: 400px;
  background-color: #FFF;
}

/* line 75, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#subs_cont {
  margin-top: 50px;
  text-align: center;
  padding-top: 75px;
}

/* line 81, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#subs_title {
  font-weight: 100;
}

/* line 85, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#subs_para {
  color: #444;
  font-size: 0.7em;
}

/* line 90, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#subs_form {
  margin-top: 40px;
}

/* line 94, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#subs_form_input {
  margin-right: 5px;
  width: 200px;
}

/* line 99, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#exhibitor_cont {
  position: relative;
  margin-top: 100px;
  padding-bottom: 100px;
  margin-bottom: -50px;
}

/* line 106, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#submission {
  display: block;
  width: 250px;
  border: 1px solid #FF8933;
  border-radius: 5px;
  padding: 1em 2em;
  margin: 0 auto;
  font-size: 0.7em;
  color: #FFF;
  background: #FF8933;
  cursor: pointer;
  outline: none;
}

/* line 120, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#exhibitor_title {
  font-weight: 900;
  text-align: center;
  font-size: 150%;
}

/* line 126, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
.exhibitor_img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  border-bottom: 2px solid #888;
}

/* line 135, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
.exhibitor_img_title {
  text-align: center;
  font-weight: 100;
  color: #333;
}

/* line 141, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
.sponsor_img {
  display: block;
  margin: 10px auto;
  height: 100px;
  max-width: 100%;
}

/* line 148, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
#bronze {
  border: none;
}

@media (min-width: 40rem) {
  /* line 153, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  #home_main {
    margin-top: 450px;
  }

  /* line 157, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  #subs_form_input {
    width: 275px;
  }

  /* line 161, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  #submission {
    width: 325px;
  }

  /* line 165, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  #exhibitor_title {
    font-size: 225%;
  }
}
@media (min-width: 64rem) {
  /* line 171, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss */
  #home_main {
    margin-top: 500px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 /* ==~~~== OCVR Colors ==~~~==
 Light Orange: #FD8F3E
 Dark Orange: #FF8933
 */


/* ==~~~== Responsive Design Setup ==~~~== */
/* Small screens (default) */

html { 
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: arial;
}
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  		-o-box-sizing: border-box;
  			box-sizing: border-box;
}

.main {
	width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.fifth { width: 20%; }
  .column.flow-opposite { float: right; }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}


/* ==~~~== CSS Animations ==~~~== */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}


/* ==~~~== Modified Form Fields ==~~~== */
input[type=text] {
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 1em;
  font-size: 0.7em;
  color: #222;
}

input[type=text]:focus {
  outline: none;
  background: #FFF;
}

input[type=submit] {
  border: 1px solid #FF8933;
  border-radius: 5px;
  padding: 1em 2em;
  margin: 0 auto;
  font-size: 0.7em;
  color: #FFF;
  background: #FF8933;
  outline: none;
  cursor: pointer;
}


/* ==~~~== Multi-Use ==~~~== */
.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}


/*  ==~~~== Navbar ==~~~== */
nav {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0px;
	font-size: 0.8em;
	z-index: 5;
}

.btn_links {
	position: relative;
	list-style-type: none;
	width: 624px;
	margin: 10px auto 0 auto;
	padding: 0;
}

.nav_btn {
	display: inline-block;
	position: relative;
}

.nav_btn_border {
	width: 128px;
	height: 38px;
	margin: 0 3px 0 3px;
	border: 1px solid #FF8933;
	border-radius: 8px;
}

.nav_btn_border:hover {
	background-color: #FF8933;
}

.nav_btn_body {
	width: 120px;
	height: 30px;
	margin: 3px;
	border-radius: 7px;
	background-color: #FF8933;
	cursor: pointer;
}

.nav_btn_label {
	text-align: center;
	margin: 6px;
	color: #FFF;
}

.logo {
	display: inline-block;
	position: relative;
	margin: 0 10px 0 10px;
}

.logo_img {
	margin-bottom: -20px;
}

.nav_reveal_cont {
	position: fixed;
	width: 100%;
	height: 80px;
	top: -55px;
}

.nav_reveal {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	opacity: 0.9;
	background-color: #FF8933;
}

.nav_reveal_arrow {
	color: #FFF;
	margin-left: 33px;
	margin-top: 59px;

}

.parallelogram {
	-webkit-transform: skew(20deg);
	  -moz-transform: skew(20deg);
	    -o-transform: skew(20deg);
	    	transform: skew(20deg);
}

.reverse_parallelogram {
	-webkit-transform: skew(160deg);
	  -moz-transform: skew(160deg);
	    -o-transform: skew(160deg);
	    	transform: skew(160deg);
}

.circle {
	-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
			-o-border-radius: 50%;
				border-radius: 50%;
}


/* ==~~~== Footer ==~~~== */
footer {
	width: 100%;
	height: 125px;
	background-color: #222;
	z-index: 1;
}

.social_media_links {
	width: 150px;
	height: 25px;
	margin: 0 auto;
	padding: 20px 0;
}

.contact_email {
	text-align: center;
	text-decoration: underline;
	color: #888;
	font-size: 0.8em;
	padding-top: 20px;
	cursor: pointer;
}

.foot_btn_img {
	height: 25px;
	-webkit-filter: grayscale(1);
		-moz-filter: grayscale(1);
			-o-filter: grayscale(1);
				filter: grayscale(1);
}

.foot_btn_img:hover {
	-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
			-o-filter: grayscale(0);
				filter: grayscale(0);
}
