/* ==~~~== Header ==~~~== */
/* line 7, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
header {
  width: 100%;
  margin-top: 80px;
  overflow: hidden;
  z-index: -1;
}

/* line 13, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.carousel_cont {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

/* line 21, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.carousel_slide {
  cursor: move;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

@media (min-width: 740px) {
  /* line 34, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  header {
    margin-top: 100px;
  }
}
@media (min-width: 1025px) {
  /* line 37, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  header {
    margin-top: 120px;
  }
}
@media (min-width: 1601px) {
  /* line 40, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  header {
    margin-top: 160px;
  }
}
/* ==~~~== Main Body ==~~~== */
/* line 45, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.main {
  position: relative;
  width: 100%;
  background-color: #FFF;
  text-align: center;
  z-index: 1;
}

/* line 52, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section_title {
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 100;
}

/* line 56, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section_text {
  color: #444;
  font-size: 0.8em;
  margin-top: -5px;
}

/* ==~~~== Home Page Main Body ==~~~== */
/* line 64, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.user_links {
  padding-top: 50px;
}

/* line 65, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.section_text > span {
  color: #FF6927;
  font-weight: 900;
}

/* line 69, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.signup {
  display: block;
  width: 170px;
  padding: 0.75em 1.5em;
  margin: 0 auto;
  border: 1px solid #FF6927;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8em;
  color: #FFF;
  background: #FF6927;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

/* line 86, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#attendee_signup {
  margin-bottom: 50px;
}

/* line 87, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#home_exhibitor_cont {
  position: relative;
  padding: 50px 0;
  z-index: 0;
}

/* line 92, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.exhibitor_block {
  position: relative;
  display: block;
  width: 100%;
}

/* line 97, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.exhibitor_img {
  display: block;
  margin: 10px auto;
  height: 100px;
  max-width: 100%;
}

/* line 103, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#fss_img {
  height: auto;
}

@media (min-width: 740px) {
  /* line 107, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .user_links {
    height: 185px;
  }

  /* line 110, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .signup {
    width: 190px;
  }

  /* line 111, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .signup:hover {
    background: #FD8F3E;
    border: 1px solid #FD8F3E;
  }

  /* line 115, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #home_exhibitor_cont {
    padding: 75px 0;
  }
}
@media (min-width: 1025px) {
  /* line 120, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .signup {
    width: 204px;
  }
}
/* ==~~~== Expo Page Main Body ==~~~== */
/* line 125, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.expo_info {
  padding: 50px 0 75px 0;
}

/* line 128, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#expo_title {
  font-weight: 900;
  font-size: 1.5em;
}

/* line 132, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.expo_loc {
  font-family: 'Istok Web', arial, sans-serif;
  margin-top: -15px;
}

/* line 136, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#map-canvas {
  position: relative;
  height: 300px;
  width: 100%;
  z-index: 1;
}

/* line 142, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
.map_cover {
  position: relative;
  height: 300px;
  width: 100%;
  top: -300px;
  background: transparent;
  z-index: 2;
}

/* line 150, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#panel {
  position: relative;
  text-align: left;
  margin-left: 40px;
  margin-bottom: -60px;
  background-color: #FFF;
  padding: 5px;
  z-index: 3;
  background: transparent;
}

/* line 160, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#start {
  position: relative;
  top: 25px;
  width: 300px;
  max-width: 80%;
  padding: 5px;
}

/* line 167, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#directions-panel {
  position: relative;
  display: block;
  height: 300px;
  max-width: 390px;
  margin: -300px 0 0 auto;
  background: #FFF;
  overflow: auto;
  z-index: 0;
  transition: 250ms ease-in;
}

/* line 178, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
#directions-panel.active {
  margin-top: 0;
}

@media (min-width: 740px) {
  /* line 184, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  .map_cover {
    top: 25px;
  }

  /* line 187, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #directions-panel {
    height: 300px;
    width: 0px;
    margin: -300px 0 0 0;
    float: right;
    z-index: 3;
  }

  /* line 194, /Users/Sam/Documents/projects/ocvr/ocvrDemoDaySite/app/assets/stylesheets/homes.scss.erb */
  #directions-panel.active {
    width: 390px;
    margin-top: -300px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 /* ==~~~== Colors ==~~~==
 Light Orange: #FD8F3E
 Dark Orange: #FF6927
 */

 /*
  Phone = 0px - 736px
  Tablet = 768px - 1600px
  Computers = 1200px - 1600px
  Large Computers = 1600px - 1920px
*/


/* ==~~~== Responsive Design Setup ==~~~== */
/* Small screens (default) */

html, body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', arial, sans-serif;
  z-index: -1;
}
@media (min-width: 740px) { 
  html { font-size: 112%; }
}
@media (min-width: 1025px) { 
  html { font-size: 120%; }
}
@media (min-width: 1601px) {
  html { font-size: 125%; }
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  		-o-box-sizing: border-box;
  			box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media (min-width: 740px) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.fifth { width: 20%; }
  .column.flow-opposite { float: right; }
}


/* ==~~~== Modified Elements ==~~~== */
input[type=email], input[type=text] {
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 0.75em 1em;
  font-size: 0.8em;
  color: #222;
}
input[type=email]:focus, input[type=text]:focus {
  outline: none;
  background: #FFF;
}
input[type=email].valid { border: 1px solid green; }
input[type=email].error { border: 1px solid red; }
input[type=submit] {
  border: 1px solid #FF6927;
  border-radius: 5px;
  padding: 0.75em 1.5em;
  margin: 0 auto;
  font-size: 0.8em;
  color: #FFF;
  background: #FF6927;
  outline: none;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
a {
  text-decoration: none;
  color: #000;
}
ul { list-style-type: none; }
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

@media (min-width: 740px) {
  input[type=submit]:hover {
    background: #FD8F3E;
    border: 1px solid #FD8F3E;
  }
}


/* ==~~~== Multi-Use Display Classes ==~~~== */
.hidden { display: none; }
.invisible { visibility: hidden; }
.mobile_bg { display: block; }
.web_bg { display: none; }
.cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 6;
  -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
      -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;
}
.flash_notice {
  position: absolute;
  width: 100%;
  height: auto;
  top: 80px;
  border: 1px solid green;
  background: lightgreen;
  z-index: 1;
}
.flash_notice.error {
  border: 1px solid red;
  background: lightcoral;
}
.flash_message {
  position: relative;
  color: green;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
  padding: 4px 0;
}
.flash_message.error {
  color: red;
}


@media (min-width: 740px) {
  .mobile_bg { display: none; }
  .web_bg { display: block; }
  .flash_notice { top: 100px; }
}

@media (min-width: 1025px) {
  .flash_notice { top: 120px; }
}

@media (min-width: 1601px) {
  .flash_notice { top: 160px; }
}

/*  ==~~~== Navbars ==~~~== */
.navbar_web {
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
  background-color: #FFF;
  z-index: 6;
}
.nav_list_web {
  width: 100%;
  display: none;
	margin: 10px auto;
	padding: 0;
	font-size: 0.8em;
}
.nav_btn_web { display: inline-block; }
.logo {
  position: relative;
  margin: 0 0 0 25px;
}
.logo_img { margin-bottom: -18px; }
.nav_btn {
	width: 120px;
	margin: 0;
  padding: 5px 10px;
	border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat', arial, sans-serif;
	cursor: pointer;
}
#sub_nav_btn {
  position: absolute;
  top: 115px;
	right: 30px;
  width: auto;
  padding: 5px 10px;
  background: #FFF;
  color: #222;
  border: 3px solid #222;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.navbar_mobile {
  position: fixed;
	display: block;
	z-index: 8;
}
.nav_list_mobile {
	position: fixed;
	width: 200px;
  height: 100vh;
	top: 0px;
  left: -200px;
	padding: 35px 0 0 0;
	margin: 0;
	background-color: #222;
  z-index: 7;
}
.logo_img_mobile {
  text-align: center;
  padding-bottom: 10px;
}
.nav_btn_mobile {
	padding: 5px;
	cursor: pointer;
  text-align: center;
  font-family: 'Montserrat', arial, sans-serif;
  color: #FFF;
}
.title_bar {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
        transform: translateY(-50%);
  background-color: #FFF;
  z-index: 5;
}
.title {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-family: 'Montserrat', arial, sans-serif;
}


@media (min-width: 740px) {
  .navbar_web { height: 100px; }
  .nav_list_web { display: block; }
  .navbar_mobile { display: none; }
}

@media (min-width: 1025px) {
  .navbar_web { height: 120px; }
  .logo { margin: 0 0 0 40px; }
  #sub_nav_btn { top: 150px; }
}

@media (min-width: 1601px) {
  .navbar_web { height: 160px; }
  #sub_nav_btn { top: 190px; }
}


/* ==~~~== Mobile Hamburger Menu Reveal ==~~~== */
.nav_reveal {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  background-color: #FF6927;
  cursor: pointer;
  z-index: 6;
}
#nav_reveal {
	display: block;
	cursor: pointer;
	font-size: 20px;
  border-radius: 0 0 80px 0;
  z-index: 7;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.nav_reveal span, .nav_reveal span:before, .nav_reveal span:after {
  position: absolute;
  display: block;
  height: 3px;
  width: 18px;
  top: 9px;
  border-radius: 1px;
  background: white;
  content: '';
}
.nav_reveal span:before { top: 5px; }
.nav_reveal span:after { top: 10px; }
.nav_reveal, .nav_reveal span, .nav_reveal span:before, .nav_reveal span:after, .nav_list_mobile {
  -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
      -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;
}
.nav_reveal.active, .nav_reveal.active span { background-color: transparent; }
.nav_reveal.active span:before, .nav_reveal.active span:after { top: 5px; }
.nav_reveal.active span:before {
  background: #FF6927;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
        transform: rotate(45deg);
}
.nav_reveal.active span:after {
  background: #FF6927;
  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
.nav_list_mobile.active { left: 0px; }


/* ==~~~== Modal ==~~~== */
.modal {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 50px;
  top: 0px;
  z-index: 0;
}
.modal_exit {
  position: absolute;
  display: none;
  height: 30px;
  width: 30px;
  top: 0px;
  right: 0px;
  text-align: center;
  background: #FFF;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.modal_exit > i {
  position: absolute;
  margin: auto;
  height: 15px;
  width: 15px;
  top: -5px; right: 0; bottom: 0; left: 0;
}
.modal_exit:hover {
  color: #FF6927;
}
.modal_title {
  display: none;
}
.modal_title {
  font-family: 'Montserrat', arial, sans-serif;
  padding-top: 20px;
}
.modal_subscription_form {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.home_subscription_form { margin-top: 20px; }
.home_subscription_form_input {
  margin-right: 5px;
  width: 200px;
}


@media (min-width:740px) {
  .modal {
    position: absolute;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding-top: 0;
    top: -400px; left: 0; right: 0;
    background: #FFF;
    z-index: 7;
    -webkit-transition: 1000ms ease-in-out;
      -moz-transition: 1000ms ease-in-out;
        -o-transition: 1000ms ease-in-out;
          transition: 1000ms ease-in-out;
  }
  .web {
    -webkit-transition: 0ms ease-in;
      -moz-transition: 0ms ease-in;
        -o-transition: 0ms ease-in;
          transition: 0ms ease-in;
  }
  .modal_exit { display: block; }
  .modal_title { display: block; }
  .modal > .section_title { display: none; }
  .modal_subscription_form { width: 325px; }
}


@media (min-width:1025px) {
  .modal { width: 450px; }
}


/* ==~~~== Footer ==~~~== */
footer {
	width: 100%;
	height: 125px;
	background-color: #222;
	z-index: 1;
}
.social_media_links {
	width: 66px;
	height: 30px;
	margin: 0 auto;
	padding: 40px 0 20px 0;
}
.foot_btn_img {
  height: 30px;
  width: 30px;
  padding: 0 3px;
}
#twitter {
  background: url('/assets/social-medias-1beb51825b1776594b8957e7cb38bb7ec6099f6c8759d75b9a96f5819ecb4386.png') 0 0;
  background-size: 60px 30px;
}
#facebook {
  background: url('/assets/social-medias-1beb51825b1776594b8957e7cb38bb7ec6099f6c8759d75b9a96f5819ecb4386.png') 30px 0;
  background-size: 60px 30px;
}
.contact_cont {
  padding-top: 30px;
  width: 82px;
  margin: 0 auto;
}
.contact_email {
	color: #888;
	font-size: 1em;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}


@media (min-width: 740px) {
  .contact_cont { width: 92px; }
}


@media (min-width: 1025px) {
  .social_media_links { width: 70px; }
  .foot_btn_img {
	  -webkit-filter: grayscale(1);
	  	-moz-filter: grayscale(1);
	  		-o-filter: grayscale(1);
	  			filter: grayscale(1);
    -webkit-transition: 250ms ease-in-out;
      -moz-transition: 250ms ease-in-out;
        -o-transition: 250ms ease-in-out;
          transition: 250ms ease-in-out;
  }
  .foot_btn_img:hover {
    -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
          filter: grayscale(0);
  }
  .contact_cont { width: 98px; }
  .contact_email:hover {
    color: #FFF;
  }
}


@media (min-width: 1601px) {
  .contact_cont { width: 102px; }
}
