<div class='container clearfix' id='exhibitor-cont'>
		<h3 class='section-title'>EXHIBITORS</h3>
	<div class='column full'>
		<div class='sponsor-cont clearfix'>
			<% @exhibitors.each do |exhibitor| %>
				<div class='sponsor-img-cont'>
					<img class='sponsor-img' src="<%= asset_path("#{exhibitor.img}") %>" />
				</div>
			<% end %>
		</div>
	</div>
</div>