<h3 class='section-title'>EXHIBITORS</h3>
<div class='column full'>
	<div class='sponsor-cont clearfix'>
		<% @exhibitors.each do |exhibitor| %>
			<a href='<%= exhibitor.site %>' target='_blank'>
				<div class='sponsor-img-cont'>
					<img class='sponsor-img' src="<%= asset_path("#{exhibitor.img}") %>" />
				</div>
			</a>
		<% end %>
	</div>
</div>