<% @exhibitors.each do |exhibitor| %>
	<a href="<%= exhibitor.site %>" target='_blank'>
		<div class="exhibitor-img-cont <%= exhibitor.custom_class %>">
			<img class='exhibitor-img' src="<%= asset_path("#{exhibitor.img}") %>" />
		</div>
	</a>
<% end %>