	<div class='column full'>
		<h3 class='section-title'>SUMMER EXPO</h3>
		<div class='expo-location'>
			<h6 class='section-subtitle'>July 12th, 2015</h6>
			<h6 class='section-subtitle'>1pm - 7pm</h6>
			<h6 class='section-subtitle'>Institute for Innovation, University of California Irvine</h6>
			<h6 class='section-subtitle'>5141 California Ave. Irvine, CA</h6>
		</div>
		<p class='section-text'>Join us for a day of immersion with the world of virtual reality. Experience exciting VR content brought in from all over of Southern California and beyond. The day will be filled with demos, panels, and giveways.</p>
		<p class='section-text'><span>SoCal VR</span> is a collection of content creators, developers, film makers, journalists, audio professionals, engineers, artists, and creative people every where in between. Those who buy VIP tickets will get access to the demo floor 2 hours early and can sit in on the VIP panel at noon.</p>
		<p class='section-text'>The jam packed line up of panels is as follows: </p>
		<p class='section-text'><u>Room 1: The Cove</u> – 360 broadcast by VRLive.tv</p>
		<ol class='section-text'>
			<li>VIP Panel: Bringing VR to the Mainstream - moderated by Jonnie Ross</li>
			<li>Immersive Gaming Experiences - moderated by Dave Taylor</li>
			<li>VR for Themeparks, Arcades, Theatres, and Carnivals</li>
			<li>The Art of Presence: Storytelling in VR - moderated by Duncan Trussell</li>
		</ol>
		<p class='section-text'><u>Room 2: The ROC</u> – recorded in 360 by Vrideo</p>
		<ol class='section-text'>
			<li>The Future of Journalism - moderated by Matthew Terndrup</li>
			<li>Building Virtual Worlds</li>
			<li>Portals into the Metaverse: Sports, Concerts, and Social VR - moderated by Bruce Wooden</li>
			<li>The Art of Presence: Storytelling in VR - moderated by Duncan Trussell</li>
		</ol>
	</div>