	<div class='column'>
		<h3 class='section-title'>VR Film School</h3>
		<div class='section-title'>
			<h6 class='section-subtitle'>December 4th, 2015</h6>
			<!-- <h6 class='section-subtitle'>1pm - 7pm</h6> -->
			<h6 class='section-subtitle'>Institute for Innovation, University of California Irvine</h6>
			<h6 class='section-subtitle'>5141 California Ave. Irvine, CA</h6>
		</div>
		<p class='section-text'> Welcome to VR Film School; a 3 day work shop teaching VR enthusiasts how to become VR directors. The goal is to go from knowing nothing about VR to having a piece of 360 video content that is yours to share with the world. There will be different tracks of education for different workflows like "Shooting with GoPro Rigs" or "Shooting with the theta camera". We are bringing together major VR film directors, hardware providers and technical experts to help you get started right. </p>
		<p class='section-text'>The jam packed line up is as follows: </p>
		<p class='section-text'><u>Day 1 : Registration/Course Overview</u></p>
		<ol class='section-text'>
			<li>Registration</li>
			<li>Team Selection</li>
			<li>Course Overview - What we will be covering</li>
			<li>What is VR?</li>
			<li>What is 360 Video?</li>
			<li>360 Video WorkFlow</li>
			<li>Hardware Discussion and Review</li>
			<li>Story telling in VR</li>
		</ol>
		<p class='section-text'><u>Day 2: Shooting in the Field </u></p>
		<ol class='section-text'>
			<li>Learning to shoot with a 360 camera</li>
			<li>Different types of 360 camera (Pros & Cons)</li>
			<li>Finding Shot locations</li>
			<li>Getting the perfect shot - Light and resolution settings</li>
			<li>Finding Shot locations</li>
			<li>Oraganizing footage from the day</li>
		</ol>
		<p class='section-text'><u>Day 3: Stiching and Post Production </u></p>
		<ol class='section-text'>
			<li>Video stiching and masking</li>
			<li>Using After Effects</li>
			<li>Uploading to the Internet</li>
			<li>Porting to the Gear VR</li>
		</ol>
		<p class='section-text'>After class, teams will be givin one week to create or make changes to their movies and submit them by that next friday. Sunday we will judge the videos in hollywood for our VR Film Festival.</p>	
	</div>