<% if flash[:notice] %>
  <div class='flash-notice'>
  	<p class='flash-message'><%= flash[:notice] %></p>
  </div>
<% elsif flash[:error] %>
  <div class='flash-notice error'>
  	<p class='flash-message error'><%= flash[:error] %></p>
  </div>
<% end %>