<div class='container full clearfix'>
 	<div class='directions-input'>
   	<input id='directions-start' type='text' placeholder='Directions' onchange='calcRoute();'>
 	</div>
	<div class='column full' id='map-canvas'></div>
	<div id='directions-panel'></div>
</div>