<div class='container clearfix' id='party-cont'>
	<img style='max-width: 100%; height: auto;' src="<%= asset_path('Kickoff.jpg') %>" />
	<div class='party-info'>
		<h5 class='section-title'>July 11th</h5>
		<h5 class='section-title'>7pm - 12am</h5>
		<h5 class='section-title'>We Labs - 235 E. Broadway, Long Beach, CA 90802</h5>
	</div>
	<a class='button' href='https://vrlounge.formstack.com/forms/ocvrexpo' target='_blank'>Sign up for tickets here</a>
</div>