<main class='main'>
	<div class='container clearfix' id='exhibitor-cont'>
		<h3 class='section-title'>EXHIBITORS</h3>
		<div class='column max-width-sml clearfix'>
			<%= render 'partials/exhibitors' %>
		</div>
	</div>
	<div class='container clearfix' id='exhibitor-signup'>
		<div class='column'>
			<a class='button' href='https://goo.gl/forms/yX7IELD6iR' target='_blank'>WANT TO EXHIBIT?</a>
		</div>
	</div>
</main>
