<main class='main exhibitor'>
	<%= render 'partials/exhibitor' %>
	<div class='container clearfix' id='exhibitor-signup'>
		<div class='column full'>
			<a class='button' href='https://goo.gl/forms/yX7IELD6iR' target='_blank'>WANT TO EXHIBIT?</a>
		</div>
	</div>
</main>
