<main class='main'>
	<div class='container clearfix'>
		<h3 class='section-title'>Sponsors</h3>
	<!-- <%= render 'partials/sponsors' %> -->
	<p class='judgeText'> Do you or your company want to sponsor VR Film School? Just click on the button to fill out your info. And lets build some great experiences? </p>
	</div>
	<div class='container clearfix' id='exhibitor-signup'>
		<div class='column'>
			<a class='button' href='https://goo.gl/forms/yX7IELD6iR' target='_blank'>WANT TO SIGN UP?</a>
		</div>
	</div>	
	<%= render 'partials/map' %>	

</main>
