<p class='section_text'>For more information about the <span>SoCal VR</span> conference, enter your email in the subscription form on our website. This will give you updates as they roll in as well as step by step instructions on how to register for a Vive demo, and more. Sign up now, while you still can. </p>
<div class='home_subscription_form'>
	<%= form_for(@users) do |f| %>
		<%= f.text_field :email, class: 'home_subscription_form_input', placeholder: 'Email' %>
		<%= f.submit 'Sign Up' %>
	<% end %>
</div>