<main class='main attend'>
	<div class='container clearfix'>
		<%= render 'partials/expoinfo' %>
	</div>
	<div class='container clearfix'>
		<div class='column full' id='attendee_button'>
			<a class='button' href='https://www.eventbrite.com/e/the-socal-virtual-reality-conference-expo-tickets-17219851038' target='_blank'>PURCHASE TICKETS</a>
		</div>
		<div class='column full' id='ticket-iframe'>
			<iframe class='clearfix ticket-iframe' src='http://www.eventbrite.com/tickets-external?eid=17219851038'>
			</iframe>
		</div>
	</div>
	<%= render 'partials/map' %>
</main>