<header data-scroll-speed="3" id='header'>
	<div id="slider1_container" class='carousel_cont'>
  	<div u="slides" class='carousel_slide'>
    	<div>
	      <img u="image" class='carousel_img' id='img1' src="<%= asset_path('slide1-min.jpg') %>" />
	    </div>
	    <div>
	      <img u="image" class='carousel_img' id='img2' src="<%= asset_path('slide2-min.jpg') %>" />
	    </div>
	    <div>
	      <img u="image" class='carousel_img' id='img3' src="<%= asset_path('slide3-min.jpg') %>" />
	    </div>
	  </div>
	</div>
</header>

<main class='main' id='home_cont'>
	<div class='container user_links'>
		<div class='column half'>
			<h3 class='section_title'>WANT TO ATTEND?</h3>
			<a class='signup' id='attendee_signup' href='https://www.eventbrite.com/e/the-socal-virtual-reality-conference-expo-tickets-17219851038' target='_blank'>PURCHASE TICKETS</a>
		</div>
		<div class='column half'>
			<h3 class='section_title'>WANT TO EXHIBIT?</h3>
			<a class='signup' href='https://goo.gl/forms/yX7IELD6iR' target='_blank'>EXHIBITOR SIGNUP</a>
		</div>
	</div>
	<div class='container expo_info'>
		<div class='column full expo_info'>
			<h3 class='section_title' id='expo_title'>SUMMER EXPO</h3>
			<h3 class='section_title expo_loc'>July 12th, 2015</h3>
			<h3 class='section_title expo_loc'>Institute for Innovation, University of California Irvine</h3>
			<h3 class='section_title expo_loc'>5141 California Ave. Irvine, CA</h3>
			<p class='section-text'>Welcome to the future! The future of entertainment, sports, art, music, medicine, gaming, and journalism is now.</p>
			<p class='section-text'>Connecting all the genres is the exciting, engaging medium that is Virtual Reality. VR has flooded into the public consciousness through media publications all around the world. Now is your chance to experience the latest in this emerging technology. Immersive technology that the press has been raving about. Experience what millions of others will find out many months from now.</p>
			<p class='section-text'>We have assembled a huge array of demos, experiences, panelists, and speakers for a transformative and exclusive event.</p>
			<p class='section-text'>Over 40 companies will show off their latest. This will allow opportunities for all those who attend to teleport themselves into computerized realms that are beyond the imagination.</p>
			<p class='section-text'>In addition to previously unreleased demos and experiences, a lineup of jam-packed panels and speeches will be held. This will alter the way that you look at Virtual Reality. Expect big names and intriguing discussions that must be heard in person.</p>
			<p class='section-text'>Be part of the future. Join us in the newly opened and beautiful Institute of Innovation at University of California Irvine.</p>

		</div>
	</div>
  <div class='map_cont'>
  	<div id="panel">
    	<input id='start' type='text' placeholder='Directions' onchange='calcRoute();'>
  	</div>
		<div class='column full' id='map-canvas'></div>
		<div class='map_cover'></div>
		<div id="directions-panel"></div>
	</div>
</main>

<script>
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var map;
	var marker;

	function initialize() {
		directionsDisplay = new google.maps.DirectionsRenderer();
		var myLatlng = new google.maps.LatLng(33.6405,-117.8541);
    var mapOptions = {
      center: {lat: 33.6405, lng: -117.8541},
      zoom: 14
    };

    // var infowindow = new google.maps.InfoWindow({
    //   content: contentString
  	// });

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('directions-panel'));

  	marker = new google.maps.Marker({
      position: myLatlng,
      map: map
  	});
  };

  	// google.maps.event.addListener(marker, 'click', function() {
    // 	infowindow.open(map,marker);
  	// });

	function calcRoute() {
		marker.setMap(map);
		if (!$('#directions-panel').hasClass('active')) { $('#directions-panel').addClass('active') };
	  var start = document.getElementById('start').value;
	  var end = '5141 California Ave. Irvine, CA';
	  var request = {
	      origin:start,
	      destination:end,
	      travelMode: google.maps.TravelMode.DRIVING
	  };
	  directionsService.route(request, function (response, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	      directionsDisplay.setDirections(response);
	    }
	  });
	};

  google.maps.event.addDomListener(window, 'load', initialize);
</script>