<header>
	<h1 class='title animated flipInX'><span class='title_span'>Orange County</span> VR</h1>
	<img class='header_bg' src="<%= asset_path('sunset.png') %>" />
</header>

<main class='main' id='home_cont'>
	<div class='container' id='home_subscription_cont'>
		<h3 class='home_subscription_title'>SUBSCRIBE</h3>
		<p class='home_subscription_text'>Sign up with your email address to receive news about the latest OCVR events.</p>

		<form class='home_subscription_form'>
			<input class='home_subscription_form_input' type='text' placeholder='Email' />
			<input type='submit' value='Sign Up' />
		</form>
	</div>
	<div class='container' id='home_exhibitor_cont'>
		<a id='exhibitor_signup' href='http://goo.gl/forms/yX7IELD6iR' target='_blank'>SUMMER EXPO SUBMISSION FORM
		</a>

		<h1 class='home_exhibitor_title'>OCVR thanks our sponsors:</h1>
		<!-- Platinum Sponsors -->
		<div class='exhibitor_block clearfix' id='platinum'>
			<h5 class='exhibitor_block_title'>PLATINUM SPONSORS</h5>
			<div class='column half'>
				<img class='exhibitor_img' id='fss_img' src="<%= asset_path('FastStart-Studio-Logo.png') %>" />
			</div>
		</div>
		<!-- Gold Sponsors -->
		<div class='exhibitor_block clearfix' id='gold'>
			<h5 class='exhibitor_block_title'>GOLD SPONSORS</h5>
			
		</div>
		<!-- Silver Sponsors -->
		<div class='exhibitor_block clearfix' id='silver'>
			<h5 class='exhibitor_block_title'>SILVER SPONSORS</h5>
			
		</div>
		<!-- Bronze Sponsors -->
		<div class='exhibitor_block clearfix' id='bronze'>
			<h5 class='exhibitor_block_title'>BRONZE SPONSORS</h5>
			
		</div>
	</div>
</main>