<header>
	<h1 class='title animated flipInX'><span class='title_oc'>Orange County </span>VR</h1>
	<img class='header_img' src='assets/sunset.png' />
</header>
<div class='block'>
</div>
<div class='foot'>
</div>