<header>
	<h1 class='title animated flipInX'><span class='title_oc'>Orange County </span>VR</h1>
	<img class='header_img' src='assets/sunset.png' />
</header>
<main class='main' id='home_main'>
	<div class='container' id='subs_cont'>
		<h3 id='subs_title'>SUBSCRIBE</h3>
		<p id='subs_para'>Sign up with your email address to receive news about the latest OCVR events.</p>
		<form id='subs_form'>
			<input id='subs_form_input' type='text' placeholder='Email' />
			<input type='submit' value='Sign Up' />
		</form>
	</div>
	<div class='container' id='exhibitor_cont'>
		<button id='submission' type='button'>SUMMER EXPO SUBMISSION FORM</button>
		<h1 id='exhibitor_title'>OCVR thanks our sponsors:</h1>
		<!-- Platinum Sponsors -->
		<div class='exhibitor_img clearfix' id='platinum'>
			<h5 class='exhibitor_img_title'>PLATINUM SPONSORS</h5>
			<div class='column half'>
				<img class='sponsor_img' src='assets/Air_Herler.png' />
			</div>
			<div class='column half'>
				<img class='sponsor_img' src='assets/Sponsor-lifeinvader.jpg' />
			</div>
		</div>
		<!-- Gold Sponsors -->
		<div class='exhibitor_img clearfix' id='gold'>
			<h5 class='exhibitor_img_title'>GOLD SPONSORS</h5>
			<div class='column half'>
				<img class='sponsor_img' src='assets/AirEmu.png' />
			</div>
			<div class='column half'>
				<img class='sponsor_img' src='assets/Bmlogo-GTAV.png' />
			</div>
		</div>
		<!-- Silver Sponsors -->
		<div class='exhibitor_img clearfix' id='silver'>
			<h5 class='exhibitor_img_title'>SILVER SPONSORS</h5>
			<div class='column third'>
				<img class='sponsor_img' src='assets/CNT-Logo-GTAV.png' />
			</div>
			<div class='column third'>
				<img class='sponsor_img' src='assets/Fleeca_logo.jpg' />
			</div>
			<div class='column third'>
				<img class='sponsor_img' src='assets/FlyUS_logo.png' />
			</div>
		</div>
		<!-- Bronze Sponsors -->
		<div class='exhibitor_img clearfix' id='bronze'>
			<h5 class='exhibitor_img_title'>BRONZE SPONSORS</h5>
			<div class='column fifth'>
				<img class='sponsor_img' src='assets/Badger-logo.png' />
				<img class='sponsor_img' src='assets/Burger_Shot-logo.png' />
				<img class='sponsor_img' src='assets/E-Cola-logo.png' />
			</div>
			<div class='column fifth'>
				<img class='sponsor_img' src='assets/BF_logo.png' />
				<img class='sponsor_img' src='assets/Pump&RunGymnasium-GTAV-Logo.png' />
				<img class='sponsor_img' src='assets/Fruit-HD.png' />
			</div>
			<div class='column fifth'>
				<img class='sponsor_img' src='assets/Cluckinbelllogo.svg.png' />
				<img class='sponsor_img' src='assets/GTAV-LSCustoms-Logo.png' />
				<img class='sponsor_img' src='assets/V247Small.png' />
			</div>
			<div class='column fifth'>
				<img class='sponsor_img' src='assets/Binco_IV.png' />
				<img class='sponsor_img' src='assets/Sprunk_Logo,_2008.png' />
				<img class='sponsor_img' src='assets/TheBeanMachine-GTA4-logo.png' />
			</div>
			<div class='column fifth'>
				<img class='sponsor_img' src='assets/ZiT.png' />
				<img class='sponsor_img' src='assets/Whiz-logo.png' />
				<img class='sponsor_img' src='assets/Up-n-Atom.png' />
			</div>
		</div>
	</div>
</main>