<main class='main'>
	<div class='clearfix maps-cont'>
		<div class='exhibitor-maps'>
			<img style='max-width: 100%;' src="<%= asset_path('Map1-3.png') %>" />
		</div>
		<div class='exhibitor-maps'>
			<img style='max-width: 100%;' src="<%= asset_path('Map2-3.png') %>" />
		</div>
	</div>
	<div class='clearfix maps-cont'>
		<div class='location-map'>
			<img style='max-width: 100%;' src="<%= asset_path('Map3.png') %>" />
		</div>
	</div>
	<%= render 'partials/map' %>
</main>