<main class='main exhibitor clearfix'>
	<h3 class='section-title'>SoCal VR Team</h5>
		<div class='column full'>
			<div class='speaker-cont clearfix'>
				<%= render 'partials/team' %>
			</div>
		</div>
</main>