<main class='main'>
	<div class='container max-width-sml clearfix'>
		<h3 class='section-title'>SoCal VR Team</h3>
		<div class='column'>
			<div class='speaker-cont clearfix'>
				<%= render 'partials/team' %>
			</div>
		</div>
	</div>
</main>