/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ==~~~== Colors ==~~~==
 Light Orange: #FD8F3E
 Dark Orange: #FF6927
 */

 /*
  Phone = 0px - 736px
  Tablet = 768px - 1600px
  Laptops = 1200px - 1600px
*/


/* ==~~~== Responsive Design Setup ==~~~== */
/* Small screens (default) */
html, body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', arial, sans-serif;
}
@media (min-width: 740px) { 
  html { font-size: 112%; }
}
@media (min-width: 1024px) { 
  html { font-size: 120%; }
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  		-o-box-sizing: border-box;
  			box-sizing: border-box;
}
.main { width: 100%; }
.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


@media (min-width: 740px) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.fifth { width: 20%; }
  .column.flow-opposite { float: right; }
}


/* ==~~~== Modified Elements ==~~~== */
input[type=text] {
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 0.75em 1em;
  font-size: 0.8em;
  color: #222;
}
input[type=text]:focus {
  outline: none;
  background: #FFF;
}
input[type=submit] {
  border: 1px solid #FF6927;
  border-radius: 5px;
  padding: 0.75em 1.5em;
  margin: 0 auto;
  font-size: 0.8em;
  color: #FFF;
  background: #FF6927;
  outline: none;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
a { text-decoration: none; }
ul { list-style-type: none; }
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@media (min-width: 740px) {
  input[type=submit]:hover {
    background: #FD8F3E;
    border: 1px solid #FD8F3E;
  }
}


/* ==~~~== Multi-Use Display Classes ==~~~== */
.hidden { display: none; }
.invisible { visibility: hidden; }
.mobile_bg { display: block; }
.web_bg { display: none; }
.cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 6;
  -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
      -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;
}


@media (min-width: 740px) {
  .mobile_bg { display: none; }
  .web_bg { display: block; }
}


/*  ==~~~== Navbars ==~~~== */
.navbar_web {
	position: fixed;
	display: none;
	height: 75px;
	width: 100%;
	top: 0px;
  background-color: #FFF;
  z-index: 5;
}
.nav_list_web {
  width: 100%;
	margin: 10px auto;
	padding: 0;
	font-size: 0.8em;
}
.nav_btn_web { display: inline-block; }
.logo {
  position: relative;
  margin: 0 0 0 25px;
}
.logo_img { margin-bottom: -18px; }
.nav_btn {
	width: 120px;
	margin: 0;
  padding: 5px 10px;
	border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat', arial, sans-serif;
	cursor: pointer;
}
#sub_nav_btn {
  position: absolute;
  top: 16px;
	right: 25px;
  width: auto;
  padding: 5px 10px;
  border: 3px solid #222;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
#sub_nav_btn:hover {
  color: #FF6927;
  border: 3px solid #FF6927;
}
.navbar_mobile {
  position: fixed;
	display: block;
	z-index: 7;
}
.nav_list_mobile {
	position: fixed;
	width: 200px;
  height: 100vh;
	top: 0px;
  left: -200px;
	padding: 35px 0 0 0;
	margin: 0;
	background-color: #222;
  z-index: 5;
}
.logo_img_mobile {
  text-align: center;
  padding-bottom: 10px;
}
.nav_btn_mobile {
	padding: 5px;
	cursor: pointer;
  text-align: center;
  font-family: 'Montserrat', arial, sans-serif;
  color: #FFF;
}
.title_bar_fixed {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 75px;
  left: 0;
  background-color: #FFF;
  z-index: 5;
}
.title_fixed {
  margin: 0px;
  text-align: center;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 40px;
}


@media (min-width: 740px) {
  .navbar_web { display: block; }
  .navbar_mobile { display: none; }
}


@media (min-width: 1024px) {
  .logo { margin: 0 0 0 40px; }
  #sub_nav_btn { right: 40px; }
}


/* ==~~~== Mobile Hamburger Menu Reveal ==~~~== */
.nav_reveal {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  background-color: #FF6927;
  cursor: pointer;
  z-index: 5;
}
#nav_reveal {
	display: block;
	cursor: pointer;
	font-size: 20px;
  border-radius: 0 0 80px 0;
  z-index: 5;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}
.nav_reveal span, .nav_reveal span:before, .nav_reveal span:after {
  position: absolute;
  display: block;
  height: 3px;
  width: 18px;
  top: 9px;
  border-radius: 1px;
  background: white;
  content: '';
}
.nav_reveal span:before { top: 5px; }
.nav_reveal span:after { top: 10px; }
.nav_reveal, .nav_reveal span, .nav_reveal span:before, .nav_reveal span:after, .nav_list_mobile {
  -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
      -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;
}
.nav_reveal.active, .nav_reveal.active span { background-color: transparent; }
.nav_reveal.active span:before, .nav_reveal.active span:after { top: 5px; }
.nav_reveal.active span:before {
  background: #FF6927;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
        transform: rotate(45deg);
}
.nav_reveal.active span:after {
  background: #FF6927;
  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
.nav_list_mobile.active { left: 0px; }


/* ==~~~== Title Bar ==~~~== */
.title_bar {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #FFF;
  font-family: 'Montserrat', arial, sans-serif;
  z-index: 1;
}
.title_mobile {
  margin: 0;
  padding-top: 3px;
  text-align: center;
  font-size: 30px;
}
.title_web {
  display: none;
  padding-top: 4px;
  text-align: center;
  font-size: 40px;
}


@media (min-width: 740px) {
  .title_bar {
    position: relative;
    margin-top: 475px;
    height: 50px;
  }
  .title_mobile {
    display: none;
  }
  .title_web {
    display: block;
  }
}


/* ==~~~== Modal ==~~~== */
.modal {
  position: absolute;
  display: none;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  top: -350px;
  left: 0;
  right: 0;
  background: #FFF;
  text-align: center;
  z-index: 7;
  -webkit-transition: 1000ms ease-in-out;
    -moz-transition: 1000ms ease-in-out;
      -o-transition: 1000ms ease-in-out;
        transition: 1000ms ease-in-out;
}
.modal_exit {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 4px solid #000;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  text-align: center;
  background: #FFF;
  cursor: pointer;
}
.modal_exit > i {
  position: absolute;
  margin: auto;
  height: 15px;
  width: 15px;
  top: -5px; right: 0; bottom: 0; left: 0;
}
.modal_exit > i:before {
  top: 0;
}
.modal.active {
  top: 100px;
}
.modal_title {
  font-family: 'Montserrat', arial, sans-serif;
  padding-top: 20px;
}
.modal_subscription_form {
  position: relative;
  width: 325px;
  margin: 0 auto;
  padding-top: 20px;
}
.home_subscription_form { margin-top: 20px; }
.home_subscription_form_input {
  margin-right: 5px;
  width: 200px;
}


@media (min-width:740px) {
  .modal { display: block; }
}


@media (min-width:1024px) {
  .modal { width: 450px; }
}


/* ==~~~== Footer ==~~~== */
footer {
	width: 100%;
	height: 125px;
	background-color: #222;
	z-index: 1;
}
.social_media_links {
	width: 202px;
	height: 30px;
	margin: 0 auto;
	padding: 20px 0;
}
.foot_btn_img {
  height: 30px;
  padding: 0 3px;
}
.contact_cont {
  padding-top: 30px;
  width: 100px;
  margin: 0 auto;
}
.contact_email {
	color: #888;
	font-size: 1em;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
      -o-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
}


@media (min-width: 740px) {
  .social_media_links { width: 204px; }
}


@media (min-width: 1024px) {
  .social_media_links { width: 206px; }
  .foot_btn_img {
	  -webkit-filter: grayscale(1);
	  	-moz-filter: grayscale(1);
	  		-o-filter: grayscale(1);
	  			filter: grayscale(1);
    -webkit-transition: 250ms ease-in-out;
      -moz-transition: 250ms ease-in-out;
        -o-transition: 250ms ease-in-out;
          transition: 250ms ease-in-out;
  }
  .foot_btn_img:hover {
    -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
          filter: grayscale(0);
  }
  .contact_email:hover {
    color: #FFF;
  }
}
