// Place all the styles related to the exhibitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main.exhibitor, .main.attend, .main.maps {
	margin-top: 80px;
	padding-bottom: 100px;
}
.main.exhibitor {
	padding-top: 100px;
}
#exhibitor-signup {
	margin-top: 0;
	padding-top: 0;
}

@media (min-width: 740px) {
	.main.exhibitor, .main.sponsor, .main.maps { margin-top: 140px; }
	#exhibitor-signup {
		margin-top: -50px;
		padding-top: 0;
	}
}

@media (min-width: 1025px) {
	.main.exhibitor, .main.sponsor, .main.maps { margin-top: 160px; }
}