<main class='main exhibitor clearfix'>
	<h3 class='section-title'>SPEAKERS</h5>
		<div class='column full'>
			<div class='speaker-cont clearfix'>
				<%= render 'partials/speakers_featured' %>
				<%= render 'partials/speakers' %>
			</div>
		</div>
</main>
