<main class='main'>
	<div class='container clearfix'>
		<h3 class='section-title'>360 COMPANIES</h3>
		<!-- <div class='column max-width-sml clearfix'>
			<%= render 'partials/speakers' %>
		</div> -->
		<p class='judgeText'> Are you a 360 video company looking for fresh talent. Get involved with VR Film School. Click on the button below and fill out the form and get ready for VR movie magic!</p>
	</div>
	<div class='container clearfix' id='exhibitor-signup'>
		<div class='column'>
			<a class='button' href='https://goo.gl/forms/yX7IELD6iR' target='_blank'>WANT TO SIGN UP?</a>
		</div>
	</div>
	<%= render 'partials/map' %>
</main>
