<main class='main'>
	<div class='container clearfix'>
		<h3 class='section-title'>SPEAKERS</h3>
		<div class='column max-width-sml clearfix'>
			<%= render 'partials/speakers' %>
		</div>
	</div>
</main>
