<main class='main'>
	<div class='container max-width-sml clearfix'>
		<h3 class='section-title'>SPEAKERS</h3>
		<div class='column clearfix'>
			<%= render 'partials/speakers_featured' %>
			<%= render 'partials/speakers' %>
		</div>
	</div>
</main>
